<div class="panel panel-default" ng-init="getBook()">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-2">
                    <a class="btn btn-primary" href="#!/books"><i class="glyphicon glyphicon-arrow-left"></i></a>
                </div>
                <div class="col-md-10">
                    <h1 class="panel-title">{{book.title}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <img src="{{book.image_url}}" alt="">
            </div>
            <div class="col-md-8">
                <p>{{book.description}}</p>
                <ul class="list-group">
                    <li class="list-group-item">Genre: {{book.genre}}</li>
                    <li class="list-group-item">Author: {{book.author}}</li>
                    <li class="list-group-item">Pages: {{book.pages}}</li>
                </ul>
                <a class="btn btn-primary" target="_blank" href="{{book.buy_url}}">Buy on Amezon</a>
            </div>
        </div>
    </div>
</div>
<div class="pull-right">
    <a class="btn btn-primary" href="#!/books/edit/{{book._id}}">Edit</a>
    <a class="btn btn-primary" href="#!" ng-click="removeBook(book._id)">Delete</a>
</div>